<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%logger{20}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logfile -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5level [%logger] %msg%n</pattern>
        </encoder>
        
    </appender>

    <!-- activity.log -->
    <appender name="ACTIVITY_FILE" class="ch.qos.logback.core.FileAppender">
        <!-- <file>activity.log</file> -->
        <file>logs/activity.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%logger] %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.MarkerFilter">
            <marker>ACTIVITY</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
    </appender>


    <!-- =============================================================== -->
    <!-- CONFIGURACIONES SELECCIONABLES POR COMENTARIOS                   -->
    <!-- =============================================================== -->

    <!-- =============================================================== -->
    <!--   MODO 1 → LOG SOLO MILESTONE 1                                 -->
    <!--   (todos los ficheros excepto Group, Schedule, DirectoryUsers,  -->
    <!--    Door — que se silencian)                                     -->
    <!-- =============================================================== -->

    <!--
    <logger name="baseNoStates" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <logger name="DoorsVisitor" level="OFF"/>
    <logger name="FindAreaVisitor" level="OFF"/>
    <logger name="GetSpaceVisitor" level="OFF"/>
    <logger name="VisitorAreas" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </root>
    -->



    <!-- =============================================================== -->
    <!--   MODO 2 → LOG SOLO MILESTONE 2                                 -->
    <!--   (solo estas 4 clases loguean — el resto se silencian)         -->
    <!-- =============================================================== -->

    <!--
    <logger name="baseNoStates" level="OFF"/>

    <logger name="clase.patron.visitor1" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <logger name="clase.patron.visitor2" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <logger name="clase.patron.visitor3" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="ACTIVITY_FILE"/>
    </logger>

    <logger name="clase.patron.visitor4" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <root level="OFF"/>
    -->



    <!-- =============================================================== -->
    <!--   MODO 3 → LOG DE TODAS LAS CLASES                              -->
    <!-- =============================================================== -->

    <!--  DESCOMENTAR ESTE BLOQUE PARA LOG TOTAL -->

    <logger name="baseNoStates" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="ACTIVITY_FILE"/>
    </root>

    <!-- todos los logs -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="ACTIVITY_FILE"/>
    </root>

</configuration>
